{% load static %}
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<link rel="stylesheet" href="{% static 'builder/css/style.css' %}" type="text/css">
<div class="resume">
   <div class="resume_left">
     <div class="resume_profile">
       <img src="https://i.imgur.com/eCijVBe.png" alt="profile_pic">
     </div>
     <div class="resume_content">
       <div class="resume_item resume_info">
         <div class="title">
          {# name and job title #}
           <p class="bold"> {{name}}</p>
           <p class="regular">{{job}}</p>
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="fas fa-map-signs"></i>
             </div>
             {# address #}
             <div class="data">
               {{address}} <br />
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fas fa-mobile-alt"></i>
             </div>
             {# phone #}
             <div class="data">
               {{phone_number}}
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fas fa-envelope"></i>
             </div>
             {# email #}
             <div class="data">
               {{email}}
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-weebly"></i>
             </div>
             {#  website #}
             <div class="data">
               {{website}}
             </div>
           </li>
         </ul>
       </div>
       {# skil set #}
       <div class="resume_item resume_skills">
         <div class="title">
           <p class="bold">skill's</p>
         </div>
         <ul>
           <li>
             <div class="skill_name">
               {{skill1}}
             </div>
             <div class="skill_progress">
               <span style="width: 80%;"></span>
             </div>
             <div class="skill_per">80%</div>
           </li>
           <li>
             <div class="skill_name">
               {{skill2}}
             </div>
             <div class="skill_progress">
               <span style="width: 70%;"></span>
             </div>
             <div class="skill_per">70%</div>
           </li>
           <li>
             <div class="skill_name">
              {{skill3}}
            </div>
             <div class="skill_progress">
               <span style="width: 90%;"></span>
             </div>
             <div class="skill_per">90%</div>
           </li>
           <li>
             <div class="skill_name">
              {{skill3}}
             </div>
             <div class="skill_progress">
               <span style="width: 60%;"></span>
             </div>
             <div class="skill_per">60%</div>
           </li>
           <li>
             <div class="skill_name">
              {{skill4}}
             </div>
             <div class="skill_progress">
               <span style="width: 88%;"></span>
             </div>
             <div class="skill_per">88%</div>
           </li>
         </ul>
       </div>
       {# SOCIAL MEDIA #}
       <div class="resume_item resume_social">
         <div class="title">
           <p class="bold">Social</p>
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="fab fa-twitter-square"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Twitter</p>
               <p>{{twitter}}</p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-youtube"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Youtube</p>
               <p>{{ytb}}</p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-linkedin"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Linkedin</p>
               <p>{{linkedin}}</p>
             </div>
           </li>
         </ul>
       </div>
       {# LANGUAGES #}
      <div class="resume_item resume_languages">
        <div class="title">
          <p class="bold">LANGUAGES</p>
        </div>        
        <ul>
          <li>
            <div class="icon">
              <i class="fa fa-language" aria-hidden="true"></i>
            </div>
            <div class="data">
              <p class="semi-bold">{{lang1}}</p>
            </div>
          </li>   
          <li>
            <div class="icon">
              <i class="fa fa-language" aria-hidden="true"></i>
            </div>
            <div class="data">
              <p class="  semi-bold">{{lang2}}  </p>
            </div>
          </li>      
        </ul>  
      </div>
     </div>
  </div>
  <div class="resume_right">
    {# ABOUT US #}
    <div class="resume_item resume_about">
        <div class="title">
           <p class="bold">About us</p>
         </div>
        <p>{{about}}</p>
    </div>
    {# WORK EX #}
    {% if work1 %}
    <div class="resume_item resume_work">
        <div class="title">
           <p class="bold">Work Experience</p>
         </div>
        <ul>
            <li>
                {% comment %}
                  <div class="date">2013 - 2015</div> 
                {% endcomment %}
                <div class="info">
                     <p class="semi-bold">{{work1}}</p> 
                  <p>{{work1_info}}</p>
                </div>
            </li>
            <li>
               {% comment %}
                  <div class="date">2013 - 2015</div> 
                {% endcomment %}              
                 <div class="info">
                     <p class="semi-bold">{{work2}}</p> 
                  <p>{{work2_info}}</p>
                </div>
            </li>
        </ul>
    </div>
    {% endif %}
    {# PROJECTS #}
    <div class="resume_item resume_work">
      <div class="title">
         <p class="bold">Projects</p>
       </div>
      <ul>
          <li>
              <div class="info">
                   <p class="semi-bold">{{project1}}</p> 
                <p>{{project1_info}}</p>
              </div>
          </li>
          <li>
            <div class="info">
                   <p class="semi-bold">{{project2}}</p> 
                <p>{{project2_info}}</p>
              </div>
          </li>
          <li>
            <div class="info">
                   <p class="semi-bold">{{project3}}</p> 
                <p>{{project3_info}}</p>
              </div>
          </li>
      </ul>
  </div>    
  {# Education #}
    <div class="resume_item resume_education">
      <div class="title">
           <p class="bold">Education</p>
         </div>
      <ul>
            <li>
               {% comment %}
                  <div class="date">2013 - 2015</div> 
                {% endcomment %}                
                 <div class="info">
                     <p class="semi-bold">{{collegeName}}</p> 
                  <p>{{college_course}}</p>
                </div>
            </li>
            <li>
               {% comment %}
                  <div class="date">2013 - 2015</div> 
                {% endcomment %}              
                  <div class="info">
                     <p class="semi-bold">{{schoolName}}</p> 
                  <p>{{school_info}}</p>
                </div>
            </li>
        </ul>
    </div>
    {# Certifications #}
    {% if certificate1 %}
    <div class="resume_item resume_education">
      <div class="title">
           <p class="bold">Certifications</p>
         </div>
      <ul>
            <li>
                <div class="info">
                     <p class="semi-bold">{{certificate1}}</p> 
                  <p>{{certificate1_info}}</p>
                </div>
            </li>
            <li>
              <div class="info">
                     <p class="semi-bold">{{certificate2}}</p> 
                  <p>{{certificate2_info}}</p>
                </div>
            </li>
        </ul>
    </div> 
    {% endif %} 
  </div>
</div>